/* DiningHall stylesheet */

#container {
  height: 100%;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

#header {
  margin-bottom: 0px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  background-color: #0167b2;
  color: white;
}

#meetings {
  padding-top: 1em;
  background-color: #aad5e8;
  text-align: center;
}

#error {
  height: 100%;
  margin-bottom: 0px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  background-color: #0167b2;
  color: white;
}
